<div class="modal fade" id="addRevisiProposalPb1<%= id %>" tabindex="-1" role="dialog" aria-labelledby="addRevisiProposalPb1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="/dosen/bimbingan/proposal-revisiPb1/tambah/<%= id %>" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4>Dosen Memberikan Revisi Bimbingan Proposal Mahasiswa</h4>
                </div>
                <div class="modal-body container">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="npm">NPM</label>
                                <input class="form-control w-25" type="number" name="npm" id="npm" value="<%= npm %>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="nama">Nama</label>
                                <input class="form-control w-25" type="text" name="nama" id="nama" value="<%= nama %>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="judul">Judul</label>
                                <input class="form-control w-25" type="text" name="judul" id="judul" value="<%= judul %>" disabled>
                            </div>
                            <div class="form-group">
                                <% dataBimbinganProposal.map((item, i) => { %>
                                <% if (item.DevisionOfLecturer) { %>
                                <% if (item.DevisionOfLecturer.dosenPembimbing1 === username) { %>
                                <% if (item.proposalRevisiDosen1) { %>
                                    <label for="proposalRevisiDosen1">Revisi Proposal Skripsi Pb 1</label>
                                    <br style="margin-top: 10px;">
                                    <input class="form-control" type="text" id="proposalRevisiDosen1" value="<%= item.proposalRevisiDosen1 %>" disabled>
                                    <br>
                                    <a href="/dosen/proposal-revisiDosen1/download/<%= item.id %>" download="<%= item.proposalRevisiDosen1.split('/').pop() %>" class="btn btn-primary">Unduh Revisi Proposal Skripsi Pb 1</a>
                                    <br><br>
                                    <label for="proposalRevisiDosen1">Upload File Revisi 1 Bimbingan Proposal Skripsi Mahasiswa</label>
                                    <input class="form-control-file" type="file" accept="*/*" 
                                    name="proposalRevisiDosen1" id="proposalRevisiDosen1" required>
                                <% } else { %>
                                    <label for="proposalRevisiDosen1">Upload File Revisi 1 Bimbingan Proposal Skripsi Mahasiswa</label>
                                    <input class="form-control-file" type="file" accept="*/*" name="proposalRevisiDosen1" id="proposalRevisiDosen1" required>
                                <% } %>
                                <% } %> 
                            <% } %>
                        <% }) %>
                        </div>
                        <br>
                        <div class="form-group">
                            <% if (dosenPembimbing1 || dosenPembimbing2) { %>
                                <% if (dosenPembimbing1 === username) { %>
                                <label for="tanggalRevisiDosen1">Tanggal Dosen Pembimbing 1 Memberikan Revisi</label>
                                <input class="form-control" type="datetime-local" name="tanggalRevisiDosen1" id="tanggalRevisiDosen1" value="<%= tanggalRevisiDosen1 ? new Date(tanggalRevisiDosen1).toLocaleString('sv', { timeZone: 'Asia/Jakarta' }).slice(0, 16) : '' %>" required>
                                <% } else if (dosenPembimbing2 === username) { %>
                                <label for="tanggalRevisiDosen2">Tanggal Dosen Pembimbing 2 Memberikan Revisi</label>
                                <input class="form-control" type="datetime-local" name="tanggalRevisiDosen2" id="tanggalRevisiDosen2" value="<%= tanggalRevisiDosen2 ? new Date(tanggalRevisiDosen2).toLocaleString('sv', { timeZone: 'Asia/Jakarta' }).slice(0, 16) : '' %>" required>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary1">Simpan</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="../public/css/style.css">
