<%- include('../layouts/header') %>
<div id="wrapper">
    <%- include('./sidebarDosen') %>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Navbar Dosen -->
            <%- include('../layouts/navbarTopDosen', {id, username}) %>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
                </div>

                <% if (addSuccess.length !== 0) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong><%= addSuccess %></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>
                <% if (addSuccess1.length !== 0) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong><%= addSuccess1 %></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>NPM</th>
                                        <th>Nama</th>
                                        <th>Judul</th>
                                        <th>Pembimbing 1</th>
                                        <th>Pembimbing 2</th>
                                        <th>Pembahas</th>
                                        <th>Tanggal Pengajuan</th>
                                        <th>Proposal</th>
                                        <th>Revisi dari Dosen</th>
                                        <th>Revisi Proposal Mahasiswa</th>
                                        <th>Status Proposal</th>
                                        <th>Jadwal Seminar Proposal</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% dataBimbinganProposal.map((item, i) => { %>
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td><%= item.npm %></td>
                                            <td><%= item.nama %></td>
                                            <td>
                                                <% if (item.TitleSubmission) { %>
                                                  <% if (item.TitleSubmission.statusPersetujuan === 'Judul 1 Diterima') { %>
                                                    <%= item.TitleSubmission.judul1 %>
                                                  <% } else if (item.TitleSubmission.statusPersetujuan === 'Judul 2 Diterima') { %>
                                                    <%= item.TitleSubmission2.judul2 %>
                                                  <% } else { %>
                                                    -
                                                  <% } %>
                                                <% } else { %>
                                                  -
                                                <% } %>
                                                <% var judulToShow; %>
                                                <% if (item.TitleSubmission) { %>
                                                    <% if (item.TitleSubmission.statusPersetujuan === 'Judul 1 Diterima') { %>
                                                        <% judulToShow = item.TitleSubmission.judul1; %>
                                                    <% } else if (item.TitleSubmission.statusPersetujuan === 'Judul 2 Diterima') { %>
                                                        <% judulToShow = item.TitleSubmission2.judul2; %>
                                                    <% } else { %>
                                                        <% judulToShow = '-'; %>
                                                    <% } %>
                                                <% } else { %>
                                                    <% judulToShow = '-'; %>
                                                <% } %>
                                            </td>
                                            <td><%= item.DevisionOfLecturer ? (item.DevisionOfLecturer.dosenPembimbing1 || '-') : '-' %></td>
                                            <td><%= item.DevisionOfLecturer ? (item.DevisionOfLecturer.dosenPembimbing2 || '-') : '-' %></td>
                                            <td><%= item.DevisionOfLecturer ? (item.DevisionOfLecturer.dosenPembahas || '-') : '-' %></td>
                                            <td>
                                                <% const timezone = 'Asia/Jakarta' %>
                                                <% const date = new Date(item.tanggalPengajuan); %>
                                                <% const options = {
                                                    timeZone: timezone,
                                                    weekday: 'long',
                                                    day: 'numeric',
                                                    month: 'long',
                                                    year: 'numeric',
                                                }; %>
                                                <% const formattedDate = date.toLocaleDateString('id-ID', options) 
                                           + '. Pukul ' + date.toLocaleTimeString('id-ID', { hour12: false }) 
                                           + ' WIB.'; %>
                                                <p><%= formattedDate %></p>
                                            </td>
                                            <td>
                                                <% if (item.proposal) { %>
                                                  <a href="/dosen/bimbingan/proposal/download/<%= item.id %>">
                                                    <%= item.proposal.split('/').pop() %>
                                                  </a>
                                                <% } else { %>
                                                  -
                                                <% } %>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-primary1"  style="background-color: #325662; color: #FFF; white-space: nowrap;" data-toggle="modal" data-target="#lihatRevisiPb1Pb2<%= item.id %>">Lihat Revisi</button>
                                                <%- include('./modals/lihatRevisi', {
                                                    id: item.id,
                                                    npm: item.npm,
                                                    nama: item.nama,
                                                    judul: judulToShow,
                                                    dosenPembimbing1: item.DevisionOfLecturer.dosenPembimbing1,
                                                    dosenPembimbing2: item.DevisionOfLecturer.dosenPembimbing2,
                                                    revisi1: item.revisi1,
                                                    revisi2: item.revisi2,
                                                    proposalRevisiDosen1: item.proposalRevisiDosen1,
                                                    proposalRevisiDosen2: item.proposalRevisiDosen2,
                                                    tanggalRevisiDosen1: item.tanggalRevisiDosen1,
                                                    tanggalRevisiDosen2: item.tanggalRevisiDosen2,
                                                }) %>
                                            </td>
                                            <td>
                                                <% if (item.proposalRevisi1) { %>
                                                <a href="/dosen/proposal-revisi1/download/<%= item.id %>">
                                                    ✔<%= "Revisi Pb1" %>
                                                </a>
                                                <% } else { %>
                                                       -
                                                <% } %>
                                            <br>
                                            <% if (item.proposalRevisi2) { %>
                                                <a href="/dosen/proposal-revisi2/download/<%= item.id %>">
                                                    ✔<%= "Revisi Pb2" %>
                                                </a>
                                              <% } else { %>
                                                -
                                              <% } %>
                                            </td>
                                            <td id="statusProposal_<%= item.id %>" style="font-weight: bold;">
                                                <span class="<%= warna5[item.id] %>">
                                                    <% if (item.statusProposal) { %>
                                                        <%= item.statusProposal %>
                                                    <% } else { %>
                                                        <span style="color: orange;">Menunggu Persetujuan</span>
                                                    <% } %>
                                                </span>
                                            </td>                                            
                                            <td>
                                                <% if (item.jadwalSeminarProposal) { %>
                                                    <% const timezone = 'Asia/Jakarta' %>
                                                    <% const date = new Date(item.jadwalSeminarProposal); %>
                                                    <% const options = {
                                                        timeZone: timezone,
                                                        weekday: 'long',
                                                        day: 'numeric',
                                                        month: 'long',
                                                        year: 'numeric',
                                                    }; %>
                                                    <% const formattedDate = date.toLocaleDateString('id-ID', options) + '. Pukul ' + date.toLocaleTimeString('id-ID', { hour12: false }) + ' WIB.';%>
                                                    <p><%= formattedDate %></p>
                                                <% } else { %>
                                                    Tidak ada jadwal
                                                <% } %>
                                            </td>
                                            <td>
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editProposal<%= item.id %>">
                                                        <span style="white-space: nowrap;">Lihat Data</span>
                                                    </button>
                                                    <%- include('./modals/editProposal', {
                                                        id: item.id,
                                                        npm: item.npm,
                                                        nama: item.nama,
                                                        judul: judulToShow,
                                                        dosenPembimbing1: item.DevisionOfLecturer.dosenPembimbing1,
                                                        dosenPembimbing2: item.DevisionOfLecturer.dosenPembimbing2,
                                                        dosenPembahas: item.DevisionOfLecturer.dosenPembahas,
                                                        jadwalSeminarProposal: item.jadwalSeminarProposal
                                                    }) %>
                                                </div>
                                                <div style="margin-top: 10px;">
                                                    <div style="display: flex; justify-content: center;">
                                                        <% if (item.DevisionOfLecturer) { %>
                                                            <% if (item.DevisionOfLecturer.dosenPembimbing1 === username) { %>
                                                                <% if (item.revisi1) { %>
                                                                    <button type="button" class="btn btn-sm btn-primary2" style="background-color:  #00a89d; color: #FFF;" data-toggle="modal" data-target="#addRevisiProposal<%= item.id %>">
                                                                        <span style="white-space: nowrap;">Edit Revisi</span>
                                                                    </button>
                                                                <% } else { %>
                                                                    <button type="button" class="btn btn-sm btn-primary2" style="background-color: #00a89d; color: #FFF;" data-toggle="modal" data-target="#addRevisiProposal<%= item.id %>">
                                                                    <span style="white-space: nowrap;">Revisi</span>
                                                                    </button>
                                                                <% } %>
                                                            <% } else if (item.DevisionOfLecturer.dosenPembimbing2 === username) { %>
                                                                <% if (item.revisi2) { %>
                                                                    <button type="button" class="btn btn-sm btn-primary2" style="background-color: #00a89d; color: #FFF;" data-toggle="modal" data-target="#addRevisiProposal<%= item.id %>">
                                                                    <span style="white-space: nowrap;">Edit Revisi</span>
                                                                    </button>
                                                                <% } else { %>
                                                                <button type="button" class="btn btn-sm btn-primary2" style="background-color: #00a89d; color: #FFF;" data-toggle="modal" data-target="#addRevisiProposal<%= item.id %>">
                                                                <span style="white-space: nowrap;">Revisi</span>
                                                                </button>
                                                                <% } %>
                                                            <% } %>
                                                        <% } %>
                                                    </div>
                                                    <%- include('./modals/addRevisiProposal', {
                                                        id: item.id,
                                                        npm: item.npm,
                                                        nama: item.nama,
                                                        judul: judulToShow,
                                                        dosenPembimbing1: item.DevisionOfLecturer.dosenPembimbing1,
                                                        dosenPembimbing2: item.DevisionOfLecturer.dosenPembimbing2,
                                                        revisi1: item.revisi1,
                                                        revisi2: item.revisi2,
                                                        jadwalSeminarProposal: item.jadwalSeminarProposal,
                                                        tanggalRevisiDosen1: item.tanggalRevisiDosen1,
                                                        tanggalRevisiDosen2: item.tanggalRevisiDosen2
                                                    }) %>
                                                    <!--  revisi  -->
                                                    <div style="margin-top: 10px;">
                                                        <div style="display: flex; justify-content: center;">
                                                            <% if (item.DevisionOfLecturer) { %>
                                                            <% if (item.DevisionOfLecturer.dosenPembimbing1 === username && item.proposalRevisiDosen1) { %><button type="button" class="btn btn-sm btn-primary2" style="background-color: #00a89d; color: #FFF;" data-toggle="modal" data-target="#addRevisiProposalPb1<%= item.id %>"><span style="white-space: nowrap;">Edit Rev Pb 1 </span></button>
                                                            <%- include('./modals/addRevisiProposalPb1', {
                                                                id: item.id,
                                                                npm: item.npm,
                                                                nama: item.nama,
                                                                judul: judulToShow,
                                                                dosenPembimbing1: item.DevisionOfLecturer.dosenPembimbing1,
                                                                dosenPembimbing2: item.DevisionOfLecturer.dosenPembimbing2,
                                                                proposalRevisiDosen1: item.proposalRevisiDosen1,
                                                                proposalRevisiDosen2: item.proposalRevisiDosen2,
                                                                tanggalRevisiDosen1: item.tanggalRevisiDosen1,tanggalRevisiDosen2: item.tanggalRevisiDosen2
                                                                }) %>
                                                            <% } else if (item.DevisionOfLecturer.dosenPembimbing1 === username) { %>
                                                                <button type="button" class="btn btn-sm btn-primary2" style="background-color:#00a89d; color: #FFF;" data-toggle="modal" data-target="#addRevisiProposalPb1<%= item.id %>"><span style="white-space: nowrap;">Upload Rev Pb 1</span>
                                                            </button>
                                                            <%- include('./modals/addRevisiProposalPb1', {
                                                                id: item.id,
                                                                npm: item.npm,
                                                                nama: item.nama,
                                                                judul: judulToShow,
                                                                dosenPembimbing1: item.DevisionOfLecturer.dosenPembimbing1,
                                                                dosenPembimbing2: item.DevisionOfLecturer.dosenPembimbing2,
                                                                proposalRevisiDosen1: item.proposalRevisiDosen1,
                                                                proposalRevisiDosen2: item.proposalRevisiDosen2,
                                                                tanggalRevisiDosen1: item.tanggalRevisiDosen1,tanggalRevisiDosen2: item.tanggalRevisiDosen2
                                                            }) %>
                                                        </div>
                                                    <% } else if (item.DevisionOfLecturer.dosenPembimbing2 === username && item.proposalRevisiDosen2) { %>
                                                        <button type="button" class="btn btn-sm btn-primary2" style="background-color: #00a89d; color: #FFF;" data-toggle="modal" data-target="#addRevisiProposalPb2<%= item.id %>"><span style="white-space: nowrap;">Edit Revisi Pb 2 </span>
                                                        </button>
                                                        <%- include('./modals/addRevisiProposalPb2', {
                                                            id: item.id,
                                                            npm: item.npm,
                                                            nama: item.nama,
                                                            judul: judulToShow,
                                                            dosenPembimbing1: item.DevisionOfLecturer.dosenPembimbing1,
                                                            dosenPembimbing2: item.DevisionOfLecturer.dosenPembimbing2,
                                                            proposalRevisiDosen1: item.proposalRevisiDosen1,
                                                            proposalRevisiDosen2: item.proposalRevisiDosen2,
                                                            tanggalRevisiDosen1: item.tanggalRevisiDosen1,tanggalRevisiDosen2: item.tanggalRevisiDosen2
                                                        }) %>
                                                    <% } else if (item.DevisionOfLecturer.dosenPembimbing2 === username) { %>
                                                    <button type="button" class="btn btn-sm btn-primary2" style="background-color:#00a89d; color: #FFF;" data-toggle="modal" data-target="#addRevisiProposalPb2<%= item.id %>">
                                                    <span style="white-space: nowrap;">Upload Rev Pb 2</span>
                                                    </button>
                                                    <%- include('./modals/addRevisiProposalPb2', {
                                                        id: item.id,
                                                        npm: item.npm,
                                                        nama: item.nama,
                                                        judul: judulToShow,
                                                        dosenPembimbing1: item.DevisionOfLecturer.dosenPembimbing1,
                                                        dosenPembimbing2: item.DevisionOfLecturer.dosenPembimbing2,
                                                        proposalRevisiDosen1: item.proposalRevisiDosen1,
                                                        proposalRevisiDosen2: item.proposalRevisiDosen2,
                                                        tanggalRevisiDosen1: item.tanggalRevisiDosen1,
                                                        tanggalRevisiDosen2: item.tanggalRevisiDosen2
                                                        }) %>
                                                    </div>                                               
                                                <% } %>
                                            <% } %>
                                            </div>
                                                </td>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
<%- include('../layouts/footer') %>
