<%- include('../layouts/header') %>
<div id="wrapper">
    <%- include('./sidebarDosen') %>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Navbar Dosen -->
            <%- include('../layouts/navbarTopDosen', { id, username }) %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->


                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
                </div>

                <% if (editSuccess.length !== 0) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong><%= editSuccess %></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <!-- Content Row -->

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold" style="color: #325662;">Data Pembagian Dosen</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>NPM</th>
                                        <th>Nama</th>
                                        <th>Dosen Pembimbing 1</th>
                                        <th>Dosen Pembimbing 2</th>
                                        <th>Dosen Pembahas</th>
                                        <th>Tanggal Pengajuan</th>
                                        <th>Keterangan</th>
                                        <th>Status</th>
                                        <th style="width: 10%;">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% dataPembagianDosen.map((item, i) => { %>
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td><%= item.npm %></td>
                                            <td><%= item.nama %></td>
                                            <td id="dosenPembimbing1_<%= item.id %>"><%= item.dosenPembimbing1 %></td>
                                            <td id="dosenPembimbing2_<%= item.id %>"><%= item.dosenPembimbing2 %></td>
                                            <td id="dosenPembahas_<%= item.id %>"><%= item.dosenPembahas %></td>
                                            <td>
                                                <% const timezone = 'Asia/Jakarta' %>
                                                <% const date = new Date(item.tanggalPengajuan); %>
                                                <% const options = {
                                                    timeZone: timezone,
                                                    weekday: 'long',
                                                    day: 'numeric',
                                                    month: 'long',
                                                    year: 'numeric',
                                                }; %>
                                                <% const formattedDate = date.toLocaleDateString('id-ID', options) + '. Pukul ' + date.toLocaleTimeString('id-ID', { hour12: false }) + ' WIB.'; %>
                                                <p><%= formattedDate %></p>
                                            </td>
                                            <td>
                                                <% if (
                                                  (item.dosenPembimbing1 && item.dosenPembimbing1 === username) ||
                                                  (item.dosenPembimbing2 && item.dosenPembimbing2 === username) ||
                                                  (item.dosenPembahas && item.dosenPembahas === username)
                                                ) { %>
                                                  <div class="form-group">
                                                    <label style="color: blue; font-weight: bold" class="col-form-label">
                                                      Meminta Anda untuk menjadi dosen 
                                                      <% if (item.dosenPembimbing1 && item.dosenPembimbing1 === username) { %>
                                                        pembimbing 1 (satu)
                                                        <input type="hidden" name="dari" id="dari" value="terima_p1">
                                                      <% } else if (item.dosenPembimbing2 && item.dosenPembimbing2 === username) { %>
                                                        pembimbing 2 (dua)
                                                        <input type="hidden" name="dari" id="dari" value="terima_p2">
                                                      <% } else if (item.dosenPembahas && item.dosenPembahas === username) { %>
                                                        pembahas
                                                        <input type="hidden" name="dari" id="dari" value="terima_pembahas">
                                                      <% } %>
                                                    </label>
                                                  </div>
                                                <% } %>
                                              </td>                                              
                                            <td id="statusPermintaanBimbingan_<%= item.id %>" style="font-weight: bold;">
                                                <span class="<%= warna4[item.id] %>">
                                                    <% if (item.statusPermintaanBimbingan) { %>
                                                        <%= item.statusPermintaanBimbingan %>
                                                    <% } else { %>
                                                        <span style="color: orange;">Menunggu Persetujuan</span>
                                                    <% } %>
                                                </span>
                                            </td>                                            
                                            <td>
                                                <div style="display: flex; justify-content: center;">
                                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editPembagianDosen<%= item.id %>">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <%- include('../dosen/modals/editPermintaanBimbingan', { 
                                                    id: item.id, 
                                                    npm: item.npm, 
                                                    nama: item.nama,
                                                    dosenPembimbing1: item.dosenPembimbing1,
                                                    dosenPembimbing2: item.dosenPembimbing2,
                                                    dosenPembahas: item.dosenPembahas
                                                }) %>
                                            </td>                                            
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <%- include('../layouts/footer') %>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $('[data-toggle="modal"][data-target="#editP1Modal"]').click(function() {
        const id = $(this).data('mahasiswa-id');
        const updatedP1Info = {
            dosenPembimbing1: $('#dosenPembimbing1Input').val(),
        };
        $.ajax({
            method: 'PUT',
            url: `/admin/pembagian-dosen/editDosen/${id}`,
            data: updatedP1Info,
            success: function(response) {
                console.log(response);
                $(`#dosenPembimbing1_${id}`).text(updatedP1Info.dosenPembimbing1);
                $('#editP1Modal').modal('hide');
            },
            error: function(error) {
                console.error(error);
            }
        });
    });
</script>